html {
    position: relative;
    min-height: 100%;
}
body {
    &.footer-margin{
        margin-bottom   : 70px;
        background-color: $mobile-bg;
    }
}
.footer-wrapper-mobile{
    color           : $white;
    width           : 100%;
    height          : 70px;
    bottom          : 0;
    display         : block;
    position        : fixed;
    background-color: $theme-color;
    .footer-pills{
        > li{
            width     : 1%;
            display   : table-cell;
            text-align: center;
            .footer-tabs{
                color           : $white;
                border          : 0;
                margin          : 0;
                display         : inline-block;
                padding         : 10px 10px 7px;
                font-size       : 12px;
                background-color: transparent;
                &:hover,&:active,&:focus{
                    color           : $save-bg-color;
                    border          : 0;
                    background-color: transparent;
                    .footer-tab-icon{
                        strong{
                            color: $white;
                        }
                    }
                }
                .footer-tab-icon{
                    display   : inline-block;
                    position  : relative;
                    text-align: center;
                    i{
                        font-size : 26px;
                    }
                    strong{
                        top             : -6px;
                        right           : -10px;
                        position        : absolute;
                        font-size       : 12px;
                        background-color: $save-bg-color;
                        @include circle(20px);
                    }
                }
                p{
                    margin-top   : 10px;
                    margin-bottom: 0;
                }
            }
            .custom-dropup-footer{
                left         : initial;
                right        : 0px;
                width        : 268px;
                border       : 1px solid $dropup-border;
                margin       : 0;
                padding      : 0;
                margin-bottom: 1px;
                @include border-radius(0);
                .dropup-list{
                    display      : block;
                    border-bottom: 1px solid $dropup-border-bottom; 
                    /*                    &:not(:last-of-type){
                                            border-bottom: transparent;
                                        }*/
                    a{
                        width       : 100%;
                        padding     : 15px;
                        position    : relative;
                        padding-left: 70px;
                        display     : block;
                        span{
                            left    : 12px;
                            top     : 6px;
                            position: absolute;
                            i{
                                color      : $save-bg-color;
                                font-size  : 30px;
                                line-height: 38px;
                            }
                            img{
                                width: 35px;
                            }
                        }
                        p{
                            margin: 0; 
                        }
                    } 
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 480px){
    .footer-wrapper-mobile{
        .footer-pills{
            > li{
                .footer-tabs{
                    .footer-tab-icon{
                        i{
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}