html {
    position: relative;
    min-height: 100%;
}
body {
    &.footer-margin{
        margin-bottom   : 65px;
        background-color: $mobile-bg;
    }
}
.footer-wrapper-mobile{
    color           : $white;
    width           : 100%;
    height          : 65px;
    bottom          : 0;
    display         : block;
    position        : fixed;
    background-color: $theme-color;
    .footer-pills{
        > li{
            width     : 1%;
            display   : table-cell;
            text-align: center;
            &.active{
                > .footer-tabs{
                    color           : $save-bg-color;
                    &:hover,&:focus{
                        background-color: transparent;
                    }
                    .footer-tab-icon{
                        &.announcement{
                            background-position: -5px 29px;
                            width              : 18px;
                            height             : 26px;
                        }
                        &.timetable{
                            background-position: -29px 29px;
                            width              : 24px;
                            height             : 26px;
                        }
                        &.messages{
                            background-position: 45px 29px;
                            width              : 24px;
                            height             : 26px;
                        }
                        &.more{
                            background-position: 19px 30px;
                            width              : 18px;
                            height             : 26px;
                        }
                        strong{
                            color: $white;
                        }
                    }
                }
            }
            .footer-tabs{
                color           : $white;
                border          : 0;
                margin          : 0;
                display         : inline-block;
                padding         : 12px 12px 5px;
                font-size       : 12px;
                background-color: transparent;
                &:hover{
                    color           : $save-bg-color;
                    .footer-tab-icon{
                        &.announcement{
                            background-position: -5px 29px;
                            width              : 18px;
                            height             : 26px;
                        }
                        &.timetable{
                            background-position: -29px 29px;
                            width              : 24px;
                            height             : 26px;
                        }
                        &.messages{
                            background-position: 45px 29px;
                            width              : 24px;
                            height             : 26px;
                        }
                        &.more{
                            background-position: 19px 30px;
                            width              : 18px;
                            height             : 26px;
                        }
                        strong{
                            color: $white;
                        }
                    }
                }
                .footer-tab-icon{
                    display            : inline-block;
                    position           : relative;
                    text-align         : center;
                    background-image   : url('../images/footer-split-image.png');
                    strong{
                        top             : -5px;
                        position        : absolute;
                        font-size       : 12px;
                        line-height     : 20px;   
                        /*border          : 1px solid $theme-color;*/
                        background-color: $save-bg-color;
                        @include circle(20px);
                    }
                    &.announcement{
                        background-position: -5px -5px;
                        width              : 18px;
                        height             : 26px;
                        strong{
                            right           : -20px;
                        }
                    }
                    &.timetable{
                        background-position: -29px -5px;
                        width              : 24px;
                        height             : 26px;
                        strong{
                            right           : -10px;
                        }
                    }
                    &.messages{
                        background-position: 45px -5px;
                        width              : 24px;
                        height             : 26px;
                        strong{
                            right           : -10px;
                        }
                    }
                    &.more{
                        background-position: 19px -4px;
                        width              : 18px;
                        height             : 26px;
                        strong{
                            right           : -15px;
                        }
                    }
                }
                p{
                    margin-bottom: 0;
                }
            }
            .custom-dropup-footer{
                left         : initial;
                right        : 0px;
                width        : 268px;
                border       : 1px solid $dropup-border;
                margin       : 0;
                padding      : 0;
                @include border-radius(0);
                .dropup-list{
                    display      : block;
                    border-bottom: 1px solid $dropup-border-bottom; 
                    /*                    &:not(:last-of-type){
                                            border-bottom: transparent;
                                        }*/
                    a{
                        width       : 100%;
                        padding     : 15px;
                        display     : block;
                        position    : relative;
                        padding-left: 70px;
                        span{
                            top     : 6px;
                            left    : 12px;
                            position: absolute;
                            i{
                                color      : $save-bg-color;
                                font-size  : 30px;
                                line-height: 38px;
                            }
                            img{
                                width: 35px;
                            }
                        }
                        p{
                            margin: 0; 
                        }
                    } 
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 480px){
    .footer-wrapper-mobile{
        .footer-pills{
            > li{
                .footer-tabs{
                    .footer-tab-icon{
                        i{
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}