.main-view-wrapper{
    .announcement-content{
        padding: 5px;
        .announcement-wrapper-mob{
            margin-bottom: 10px;
            .announcement-date{
                color           : $black;
                width           : 100px;
                height          : 40px;
                margin          : 0 auto;
                padding         : 6px 10px;
                font-size       : 14px;
                text-align      : center;
                border-radius   : 50px;
                margin-bottom   : 7px;
                background-color: $save-bg-color;
                @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
                > span{
                    line-height: 30px;
                }
            }
            .announcement-text{
                color           : $black;
                height          : 55px;
                padding         : 6px 35px 6px 10px;
                position        : relative;
                font-size       : 11px;
                text-align      : left;
                border-radius   : 3px;
                background-color: rgb(255, 255, 255);
                @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
                > small{
                    top     : 4px;
                    right   : 6px;
                    color   : $gray;
                    position: absolute;
                }
            }
        }
    }
}

.announcement-footer-wrapper{
    cursor: pointer;
    .footer-wrapper-mobile{
        height: 62px;
        form{
            padding : 0 30px 0 35px;
            position: relative;
            .announcement-input-wrapper{
                top     : 0px;
                left    : 0;
                padding : 16px 10px;
                display : inline-block;
                position: absolute;
                i{
                    transform        : rotateX(180deg);
                    -o-transform     : rotateX(180deg);
                    -moz-transform   : rotateX(180deg);
                    -webkit-transform: rotateX(180deg);
                }
            }
            .submit-wrapper{
                width  : 100%;
                padding: 9px;
                display: block;
                input{
                    width       : 100%;
                    height      : 44px;
                    display     : block;
                    text-align  : center; 
                    margin-right: 40px;
                    @include border-radius(10px);
                }
            }
            button{
                top             : 0px;
                right           : 2px;
                border          : 0;
                padding         : 13px 10px;
                display         : inline-block;
                position        : absolute;
                background-color: transparent;
                i{
                    color    : $white;
                    font-size: 36px;
                }
            }
        }
    }
}