.parent-view-wrapper{
    .content-wrapper-pills{
        height: 40px;
        > li{
            width     : 1%;
            display   : table-cell;
            padding   : 15px 15px 10px;
            text-align: center;
            &:first-child{
                a{
                    margin: 0 10px;
                }
            }
            &.active{
                a{
                    background-color: transparent;
                    &:after{
                        background-color: $save-bg-color; 
                    }
                }
            }
            a{
                padding         : 0;
                margin          : 0;
                color           : $black;
                position        : relative;
                display         : inline-block;
                line-height     : 10px;
                &:hover,&:active,&:focus{
                    color           : $black;
                    background-color: transparent;
                }
                &:after{
                    width           : 100%;
                    height          : 4px;
                    margin          : 0 auto;
                    content         : "";
                    display         : block;
                    min-width       : 30px;
                    max-width       : 30px;
                    margin-top      : 6px;
                    background-color: transparent;
                    @include transition(background-color 0.3s ease-in-out); 
                    @include border-radius(4px);
                }
            }
        }
    }
    .content-wrapper-tabs{
        padding: 5px;
        .panel-list{
            .panel-group{
                margin-bottom: 0;
            }
            .panel{
                &.panel-default{
                    border       : 0;
                    padding      : 5px 10px;
                    margin-bottom: 8px;
                    @include border-radius(3px);
                    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    .panel-heading{
                        border          : 0;
                        padding         : 0;
                        background-color: $white;
                        &.panel-heading-open{
                            .panel-title{
                                .panel-sidebar{
                                    margin: 0;
                                }
                            }
                        }
                        .panel-title{
                            position: relative;
                            overflow: hidden;
                            > a{
                                padding      : 15px 0;
                                display      : block;
                                overflow     : hidden;
                                position     : relative;
                                font-size    : 14px;
                                padding-left : 55px;
                                margin-right : 60px;
                                min-height   : 50px; 
                                text-overflow: ellipsis;

                                img{
                                    top     : 10px;
                                    left    : 5px;
                                    width   : 30px;
                                    height  : 30px;
                                    position: absolute;
                                }
                                .img-placeholder{
                                    top     : 5px;
                                    left    : 0px;
                                    position: absolute;
                                }
                                .panel-name{
                                    top        : 50%;
                                    color      : $black;
                                    position   : absolute;
                                    font-weight: bold;
                                    @include translate(0,-50%); 
                                    &.panel-name-normal{
                                        font-weight: normal;
                                    }
                                }
                                &:active,&:focus,&:hover{
                                    color          : $black;
                                    text-decoration: none;
                                }
                            }
                            .panel-date{
                                top      : 0px;
                                right    : 0px;
                                color    : $custom-uncheck-color;
                                position : absolute;
                                font-size: 10px;
                            }
                            .event-controls{
                                top      : 17px;
                                right    : 10px;
                                position : absolute;
                                font-size: 18px;
                                @include transition(all 0.3s ease-in-out);
                            }
                            .panel-sidebar{
                                top             : -5px;
                                right           : -10px;
                                padding         : 10px;
                                display         : inline-block;
                                position        : absolute;
                                margin-right    : -300px;
                                background-color: $white;
                                @include box-shadow(-40px 0px 32px 0px rgba(255,255,255,0.9));
                                @include transition(all 0.3s ease-in-out);
                                .list-inline{
                                    margin: 0;
                                    > li{
                                        .event-click{
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .panel-collapse{
                        .panel-body{
                            border    : 0;
                            padding   : 0px;
                            text-align: justify;
                            p{
                                margin   : 0;
                                font-size: 12px;
                            }
                            .spare-task-pins{
                                float : right;
                                margin: 15px 0 5px; 
                                > li{
                                    &:not(:last-child){
                                        padding-right: 15px;
                                    }
                                    > a{
                                        display   : block;
                                        text-align: center;
                                        i{
                                            color    : $save-bg-color;
                                            font-size: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 320px) and (max-width:480px){
    .parent-view-wrapper{
        .content-wrapper-tabs{
            .panel-list{
                .panel{
                    &.panel-default{
                        .panel-heading{
                            .panel-title{
                                > a{
                                    padding: 15px 0 15px 55px;
                                    font-size:14px;
                                    img{
                                        top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}