.parent-view-wrapper{
    .content-wrapper-pills{
        height: 40px;
        > li{
            width     : 1%;
            display   : table-cell;
            padding   : 15px 15px 10px;
            text-align: center;
            &.active{
                a{
                    background-color: transparent;
                    &:after{
                        background-color: $save-bg-color; 
                    }
                }
            }
            a{
                padding         : 0;
                margin          : 0;
                color           : $black;
                position        : relative;
                display         : inline-block;
                line-height     : 10px;
                &:hover,&:active,&:focus{
                    color           : $black;
                    background-color: transparent;
                }
                &:after{
                    width           : 100%;
                    height          : 4px;
                    content         : "";
                    display         : inline-block;
                    background-color: transparent;
                    @include transition(background-color 0.3s ease-in-out); 
                    @include border-radius(4px);
                }
            }
        }
    }
    .content-wrapper-tabs{
        padding: 5px;
        .panel-list{
            .panel{
                &.panel-default{
                    padding      : 10px 10px;
                    border       : 0;
                    margin-bottom: 8px;
                    @include border-radius(3px);
                    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));

                    .panel-heading{
                        border          : 0;
                        padding         : 0;
                        background-color: $white;
                        .panel-title{
                            position: relative;
                            overflow: hidden;
                            > a{
                                display      : block;
                                position     : relative;
                                overflow     : hidden;
                                padding      : 15px 0;
                                white-space  : nowrap;
                                padding-left : 40px;
                                margin-right: 30px;
                                text-overflow: ellipsis;
                                img{
                                    position: absolute;
                                    left    : 0;
                                    top     : 14px;
                                    @include circle(30px);
                                }
                                .img-placeholder{
                                    top     : 10px;
                                    left    : 0px;
                                    position: absolute;
                                }
                                .panel-name{
                                    color      : $black;
                                    font-weight: bold;
                                }
                                &:active,&:focus,&:hover{
                                    text-decoration: none;
                                    color          : $black;
                                }
                            }
                            .panel-date{
                                top      : 0px;
                                right    : 0px;
                                color    : $light-gray;
                                position : absolute;
                                font-size: 10px;
                            }
                            .sidebar-toggle{
                                position : absolute;
                                font-size: 21px;
                                right    : 0;
                                top      : 16px;
                            }
                            .panel-sidebar{
                                display         : inline-block;
                                position        : absolute;
                                background-color: $white;
                                margin-right: -300px;
                                top: 0px;
                                right: -16px;
                                padding: 10px;
                                @include box-shadow(-40px 0px 32px 0px rgba(255,255,255,0.9));
                                @include transition(all 0.3s ease-in-out);
                                .list-inline{
                                    margin: 0;
                                    > li{
                                        .sidebar-click{
                                            display         : inline-block; 
                                            text-align      : center;
                                            background-color: $theme-color;
                                            @include circle(40px);
                                            > i{
                                                color      : $save-bg-color;
                                                font-size  : 25px;
                                                line-height: 40px;
                                            }
                                            &.back-pin{
                                                background-color: transparent;
                                                i{
                                                    color: $black;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .panel-collapse{
                        .panel-body{
                            border    : 0;
                            padding   : 0px;
                            text-align: justify;
                            p{
                                margin   : 0;
                                font-size: 12px;
                            }
                            .spare-task-pins{
                                margin: 0;
                                float : right;
                                > li{
                                    > a{
                                        text-align: center;
                                        display: block;
                                        i{
                                            font-size: 24px;
                                            color    : $save-bg-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 320px) and (max-width:480px){
    .parent-view-wrapper{
        .content-wrapper-tabs{
            .panel-list{
                .panel{
                    &.panel-default{
                        .panel-heading{
                            .panel-title{
                                > a{
                                    padding: 15px 0 15px 40px;
                                    font-size:14px;
                                    img{
                                        top: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}