.aside-wrapper{
    @include transition(all 0.3s ease-in-out 0s);  
    top             : 0;
    left            : 0;
    color           : $white;
    right           : 0;
    width           : 248px;
    min-height      : 100%; 
    /*bottom          : 0;*/
    position        : absolute;
    border-right    : 8px solid $white;
    background-color: $theme-color;
    /*--  Aside Open Wrapper Styles  --*/
    &.aside-open-wrapper{
        left: -248px; 
        .toggle-aside{
            left: 0;
        }
    }
    .toggle-aside{
        @include transition(all 0.3s ease-in-out 0s);  
        @include border-radius(0 4px 4px 0);
        top: 104px;
        left: 240px;
        color           : #fff;
        border          : 1px solid #2b3a42;
        padding         : 5px 10px;
        position        : fixed;
        background-color: #2b3a42;
        z-index: 9999;
    }
    .side-navigation-wrapper{
        .admin-profile-wrapper{
            padding      : 30px 0;
            text-align   : center;
            border-bottom: 1px solid $black-9;
            img{
                width: 100px;
            }
            h4{
                margin   : 18px 0 8px;
                font-size: 20px;
            }
            p{
                margin     : 0;
                font-size  : 12px;
                margin-left: 15px;
            }
        }
        .admin-task-wrapper{
            li{
                a{
                    @include transition(all 0.3s ease-in-out 0s);  
                    color        : $white;
                    padding      : 18px 0 18px 55px;
                    display      : block;
                    border-bottom: 1px solid $black-9;
                    &:hover,&:focus,&:active,&.active{
                        color          : $hover-green;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media(min-width:300px) and (max-width:767px){
    .aside-wrapper{
        .side-navigation-wrapper{
            .admin-task-wrapper{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }  
        }
    }  
}
@media(min-width:300px) and (max-width:480px){
    .aside-wrapper{
        width: 200px;
        &.aside-open-wrapper{
            left: -200px;

        }
        .toggle-aside{
            top: 71px;
            left: 192px;
        }
    }
    .skoolview-wrapper{
        .main-content-wrapper{
            .dashboard-wrapper{
                margin: 0 -200px 0 200px;
            }
        }
    }
}