
/*   fonts   */
$lato                  : 'lato';
$roboto                : 'roboto-regular';

/*   colors   */
$white                 : #ffffff;
$white-gray            : #F8F8F8;
$black                 : #000000;
$black-6               : #666666;
$black-9               : #999999;
$black-28              : #282828;
$theme-blue            : #006699;
$theme-color           : #2B3A42;
$client-color          : #f3d8cf;
$accent-blue           : #37bbe4;
$accent-gray           : #e1e0dd;
$accent-black          : #35342f;
$accent-orange         : #ec6b2d;
$accent-red            : #dd6464;
$maroon                : #cc3333;
$gray                  : #B3B3B3;
$light-gray            : #dddddd; 
$light-gray-1          : #F6F6F6; 
$light-gray-2          : #e8e8e8;
$light-gray-3          : #ebebeb;
$light-gray-4          : #cccccc;
$custom-check-color    : #37a447;
$custom-uncheck-color  : #bababa;
$cancel-border-color   : #757575;
$save-bg-color         : #29d9c2;
$mobile-bg             : #fafafa;
$modal-submit-color    : #308BF2;
$dropup-border         : #a4abbf;
$dropup-border-bottom  : #8a8a8a;
$dark-gray             : #4a4a4a; 
$dark-gray-1           : #292929; 
$dark-gray-2           : #1d1d1d; 
$google-color          : #D5402C;
$facebook-color        : #3B5998;
$hover-green           : #ccff66;
$border-green          : #99e394;
$pink                  : #ED002C;
$custom-check-border   : #c1c1c1;
$sidebar-gray          : #929292;
$modal-gray            : #9E9E9E;
$modal-bg-gray         : #F9F9F9;