

.content-wrapper{
    .search-something-wrapper{
        a{
            &.link{
                line-height: 40px;
                margin: 0 15px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
    &.mark-attendance-wrapper{
        .search-something-wrapper{
            a{
                &.link{
                    line-height: 40px;
                    margin: 0 0 0 15px;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    text-decoration: none;
                    background-color: transparent;
                }
            }
        }
        /*--  Table Wrapper Styles  --*/
        .table-wrapper{
            .custom-table-view{
                &.table-header{
                    .table-column{
                        width: 13.8%;
                    }
                }
                &.table-body{
                    .table-column{
                        width: 13.8%;
                        input.cmn-toggle-round + label{
                            width:50px;
                            height: 30px;
                            margin: 0;
                            display: inline-block;
                            vertical-align: middle;
                            &:after{
                                width: 25px; 
                            }
                        }
                        input.cmn-toggle-round:checked + label{
                            background-color:#43E87A;
                            &:after{
                                margin-left: 25px;        
                            }
                        }
                    }
                }
            }
        }
    }
}