.new-teacher-wrapper{
    .new-announcement-wrapper{
        form{
            &.new-teacher{
                max-width: 90%;
                .recepient-wrapper{
                    p{
                        margin-top: 11px;
                        text-decoration: none;
                    }
                    .recepients{
                        .selection{
                            > ul{
                                display: inline-block;
                                > li {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media(min-width: 1200px){

}
@media(min-width: 992px) and (max-width: 1199px){
    .new-teacher-wrapper{
        .new-announcement-wrapper{
            form{
                &.new-teacher{
                    max-width: 100%;
                    .form-group{
                        .control-label{
                            font-size: 13px;
                            padding-right: 0;
                        }
                    }
                    .recepient-wrapper{
                        p{
                            margin-top: 11px;
                            text-decoration: none;
                        }
                        .recepients{
                            .selection{
                                > ul{
                                    display: block;
                                    > li {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 320px) and (max-width: 767px){
    .new-teacher-wrapper{
        .new-announcement-wrapper{
            form{
                &.new-teacher{
                    .recepient-wrapper{
                        .recepients{
                            .selection{
                                > ul{
                                    display: block;
                                    > li {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .img-new{
                        margin : 0;
                        display: inline-block;
                        + .add-remove-icon-list{
                            display: inline-block;
                            vertical-align: middle;
                            li{
                                display: block;
                                margin: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .new-teacher-wrapper{
        .new-announcement-wrapper{
            form{
                &.new-teacher{
                    .recepient-wrapper{
                        .recepients{
                            .selection{
                                > ul{
                                    display: block;
                                    > li {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 481px) and (max-width: 767px){}
@media(min-width: 320px) and (max-width: 480px){}