.new-teacher-wrapper{
    .new-announcement-wrapper{
        form{
            max-width: 90%;
            .recepient-wrapper{
                p{
                    margin-top: 11px;
                    text-decoration: none;
                }
            }
        }
    }
    .img-new-teacher{
        @include border-radius(5px);
        margin: 0 auto;
    }     
    .add-remove-icon-list{
        margin: 10px 0;
        text-align: center;
        li{
            padding: 0;
            a{
                @include square(25px);
                @include border-radius(50%);
                @include transition(all 0.3s ease-in-out);
                line-height: 25px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                color: $white;
                .fa{
                    vertical-align: middle;
                }
                &.btn-remove{
                    background-color: $maroon-2;
                }
                &.btn-add{
                    background-color: $save-bg-color;
                }
            }
        }
    }
}

@media(min-width: 1200px){

}
@media(min-width: 992px) and (max-width: 1199px){
    .new-teacher-wrapper{
        .new-announcement-wrapper{
            form{
                max-width: 100%;
                .form-group{
                    .control-label{
                        font-size: 13px;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}