.parents-wrapper{
    .table-wrapper{
        .custom-table-view{
            &.table-header{
                .first-table-column,.table-column{
                    width: 14.28%;
                }
            }
            &.table-body{
                .first-table-column,.table-column{
                    width: 14.28%;
                }
            }
        } 
    }
    &.teachers-wrapper{
        .table-wrapper{
            .table-body{
                .mobile-view-content{
                    .media{
                        .media-body{
                            vertical-align: middle;
                            p{
                                &:first-of-type{
                                    font-size: 9px !important;
                                    margin: 5px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
