.settings-wrapper{
    > h3{
        border-bottom: 1px solid $custom-uncheck-color;
        padding-bottom: 8px;
    }
    .attendance-wrapper{
        margin-bottom: 100px;
        h5{
            font-size: 14px;
        }
        p{
            font-size: 12px;
            color    : $light-gray-9;
            margin   : 0;
        }
    }
    .chat-room-wrapper{
        margin-bottom: 100px;
        h5{
            font-size: 14px;
        }
    }
    .attendance-settings, .chat-room-settings{
        .custom-check-school{
            display       : inline-block;
            vertical-align: top;
            img{
                width: 30px;
            }
        }
        .selection{
            display    : inline-block;
            > ul{
                display: inline-block;
                /*                &:last-child{ 
                                    margin-bottom: 0;  
                                }*/
            }
        }
    }
}

@media (min-width: 320px) and (max-width:767px){}
@media (min-width: 768px) and (max-width:991px){}
@media (min-width: 481px) and (max-width:767px){}
@media (min-width: 320px) and (max-width:480px){
    .custom-settings{
        border: 0 !important;
        .settings-wrapper{
            .attendance-settings, .chat-room-settings{
                .custom-check-school{
                    display: block;
                }
                .selection{
                    > ul{
                        display: block;
                        > li{ 
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}