.skoolview-wrapper{
    .main-content-wrapper{
        .dashboard-wrapper{
            .content-wrapper{
                &.students-wrapper{
                    padding: 0;
                    .table-wrapper{
                        .table-header{
                            .date-checking{
                                overflow: visible;
                                .custom-class-wrapper{
                                    display: none;
                                    position: absolute;
                                    top: 100%;
                                    right: 0;
                                    z-index: 1000;
                                    float: left;
                                    min-width: 194px;
                                    margin: 2px 0 0;
                                    list-style: none;
                                    font-size: 14px;
                                    text-align: left;
                                    background-color: $white;
                                    border: 1px solid $light-gray-6;
                                    background-clip: padding-box;
                                    @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
                                    padding: 10px;
                                    line-height: 14px;
                                    .custom-class-selection{
                                        > ul{
                                            margin-bottom: 16px;
                                            > li {
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                                &.open-collapse{
                                    > .custom-class-wrapper{
                                        display: block;
                                    }
                                }
                            }
                        }
                        .table-body{
                            .mobile-view-content{
                                min-height: 60px;
                                .media{
                                    .media-left{
                                        min-width: 125px;
                                        > a {
                                            > img{
                                                width: 50px;
                                                height: 50px;
                                                margin: 0 0 0 10px;
                                            }
                                        }
                                    }
                                    .media-body{
                                        vertical-align: bottom;
                                        width: 100%;
                                        h4{
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

.students-wrapper{

}

@media(min-width: 300px) and (max-width: 767px){
    .skoolview-wrapper{
        .main-content-wrapper{
            .dashboard-wrapper{
                .content-wrapper{
                    &.students-wrapper{
                        padding: 15px;
                    }
                }
            }
        }
    }
}